services:
  app:
    image: hexpm/elixir:1.19.4-erlang-28.2-debian-trixie-20251117-slim
    container_name: allow
    environment:
      - NEXT_DNS_API_KEY=${NEXT_DNS_API_KEY}
      - NEXT_DNS_PROFILE_ID=${NEXT_DNS_PROFILE_ID}
      - PUSHOVER_TOKEN=${PUSHOVER_TOKEN}
      - PUSHOVER_USER=${PUSHOVER_USER}
      - UNIFI_USERNAME=${UNIFI_USERNAME}
      - UNIFI_PASSWORD=${UNIFI_PASSWORD}
    restart: unless-stopped
    volumes:
      - .:/app
    working_dir: /app
    command: elixir allow.exs
